@tailwind base;
@tailwind components;
@tailwind utilities;

[v-cloak] { display: none; }

#search-suggestions {
    max-width: 300px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 5px;
    box-shadow: 5px 10px;
}

#search-suggestions a:hover div {
    background-color: aquamarine;
}
