{{ define "title" }}
{{ .Site.Title }}
{{ end }}

{{ define "main" }}
<h1 class="center">{{ .Title }}</h1>

<div v-cloak class="center" id="search-result">
    <input v-model="searchQuery" placeholder="Search..." />
    <div v-if="searchQuery !== ''" id="search-suggestions">
        <div>[[ message ]] [[ searchQuery !== '' ? "results for " + searchQuery : '' ]]</div>
        <a v-for="result in searchResults" v-bind:href="result.Barcode">
            <div>
                [[ result['Botanical Name'] ]] ([[ result['Barcode'] ]])
            </div>
        </a>
    </div>
</div>

<section class="taxonomies">
<section class="taxonomy">
    <h2>By Author</h2>
    <ul class="long-list">
        {{ range .Site.Taxonomies.authors }}
        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }} ({{ .Count }})</a></li>
        {{ end }}
    </ul>
</section>

<section class="taxonomy">
    <h2>By Subject</h2>
    <ul class="long-list">
        {{ range .Site.Taxonomies.subject }}
        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }} ({{ .Count }})</a></li>
        {{ end }}
    </ul>
</section>
</section>

  
<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>

<script>
  const { createApp, ref, computed, onMounted } = Vue

  createApp({
    setup() {
        const searchQuery = ref("")
        const message = ref("Loading...")
        const data = ref([])
        const searchResults = computed(() => data.value
            .filter(sp => sp['Botanical Name'].toLowerCase().includes(searchQuery.value.toLowerCase()))
        )
        onMounted(() => {
            fetch('/data.json').then(async (res) => {
                const json = await res.json();
                data.value = json;
                message.value = "Search"
            })
        })

        return {
            message,
            data,
            searchQuery,
            searchResults
        }
    },
    compilerOptions: {
      delimiters: ["[[", "]]"]
    }
  }).mount('#search-result')
</script>

{{ end }}