{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<a href="/mfc/" class="center"><h1>{{ .Site.Title }}</h1></a>
<div class="specimen-container">
<h2>{{ .Title }}</h2>
<table class="specimen-table">
    <tr><th>Authors</th><td>{{ index .Params "Authors" }}</td></tr>
    <tr><th>Subject</th><td>{{ index .Params "subject" }}</td></tr>
    <tr><th>Issue</th><td>{{ index .Params "issueName" }}</td></tr>
</table>
{{ .Content }}
</div>
{{ end }}